In [5]:
1. # Write a code to reverse a string
def reverse_string(s):
    return s[::-1]
reverse_string("hello")

'olleh'

In [6]:
2. #  Write a code to count the number of vowels in a string
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)
count_vowels("hello")

2

In [7]:
3. # Write a code to check if a given string is a palindrome or not
def is_palindrome(s):
    return s == s[::-1]
is_palindrome("Hello")

False

In [8]:
4.# Write a code to check if two given strings are anagrams of each other
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)
are_anagrams("bored","robed")

True

In [10]:
5. # Write a code to find all occurrences of a given substring within another string
def find_substring_occurrences(s, sub):
    occurrences = []
    start = 0
    while True:
        start = s.find(sub, start)
        if start == -1:
            break
        occurrences.append(start)
        start += len(sub)
    return occurrences
print(find_substring_occurrences("testtesttest", "test"))

[0, 4, 8]

In [11]:
6. # Write a code to perform basic string compression using the counts of repeated characters
def compress_string(s):
    compressed = []
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1
    compressed.append(s[-1] + str(count))
    return ''.join(compressed)
print(compress_string("aaabbcc"))

a3b2c2

In [12]:
7. # Write a code to determine if a string has all unique characters
def has_unique_chars(s):
    return len(set(s)) == len(s)
print(has_unique_chars("abcdef"))

True

In [13]:
8. # Write a code to convert a given string to uppercase or lowercase
def convert_case(s, to_upper=True):
    return s.upper() if to_upper else s.lower()
print(convert_case("Hello", to_upper=True))

HELLO

In [14]:
9. # Write a code to count the number of words in a string
def count_words(s):
    return len(s.split())
print(count_words("Hello world"))

2

In [15]:
10. # Write a code to concatenate two strings without using the + operator
def concatenate_strings(s1, s2):
    return '{}{}'.format(s1, s2)
print(concatenate_strings("Hello", "World"))

HelloWorld

In [16]:
11. # Write a code to remove all occurrences of a specific element from a lis
def remove_element(lst, elem):
    return [x for x in lst if x != elem]
print(remove_element([1, 2, 2, 3, 4], 2))

[1, 3, 4]

In [17]:
12. # Implement a code to find the second largest number in a given list of integers
def second_largest(lst):
    unique_lst = list(set(lst))
    unique_lst.sort()
    return unique_lst[-2] if len(unique_lst) >= 2 else None
print(second_largest([1, 2, 3, 4, 5]))

4

In [19]:
13. # Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values
def count_elements(lst):
    counts = {}
    for elem in lst:
        if elem in counts:
            counts[elem] += 1
        else:
            counts[elem] = 1
    return counts
print(count_elements([1, 2, 2, 3, 3, 3, 4, 4, 4, 4]))

{1: 1, 2: 2, 3: 3, 4: 4}

In [20]:
14. # Write a code to reverse a list in-place without using any built-in reverse functions
def reverse_list(lst):
    left, right = 0, len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1
    return lst
print(reverse_list([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [21]:
15. # Implement a code to find and remove duplicates from a list while preserving the original order of elements
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result
print(remove_duplicates([1, 2, 2, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]

In [22]:
16. # Create a code to check if a given list is sorted (either in ascending or descending order) or not
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)
print(is_sorted([1, 2, 3, 4, 5]))

True

In [24]:
17. # Write a code to merge two sorted lists into a single sorted list
def merge_sorted_lists(lst1, lst2):
    return sorted(lst1 + lst2)
print(merge_sorted_lists([1, 3, 5], [2, 4, 6]))

[1, 2, 3, 4, 5, 6]

In [25]:
18. # Implement a code to find the intersection of two given lists
def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))
print(intersection([1, 2, 3], [2, 3, 4]))

[2, 3]

In [27]:
19. # Create a code to find the union of two lists without duplicates
def union(lst1, lst2):
    return list(set(lst1) | set(lst2))
print(union([1, 2, 3], [2, 3, 4]))

[1, 2, 3, 4]

In [28]:
20. # Write a code to shuffle a given list randomly without using any built-in shuffle functions
import random

def shuffle_list(lst):
    for i in range(len(lst) - 1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]
    return lst
print(shuffle_list([1, 2, 3, 4, 5]))

[5, 1, 2, 4, 3]

In [29]:
21. # Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples
def common_elements(t1, t2):
    return tuple(set(t1) & set(t2))
print(common_elements((1, 2, 3), (2, 3, 4)))

(2, 3)

In [38]:
22. # Ceate a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets
def sets_intersection():
    set1 = set(map(int, input("Enter the first set of integers separated by commas: ").split(',')))
    set2 = set(map(int, input("Enter the second set of integers separated by commas: ").split(',')))
    print("Intersection:", set1 & set2)

In [39]:
23. # Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.
def concatenate_tuples(t1, t2):
    return t1 + t2
print(concatenate_tuples((1, 2), (3, 4)))

(1, 2, 3, 4)

In [60]:
24. # Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.


set1 = set(input("Enter the first set of strings separated by spaces: ").split())
set2 = set(input("Enter the second set of strings separated by spaces: ").split())
print("Set1: ",set1)
print("Set2: ",set2)
print("Elements in the first set but not in the second set:", set1 - set2)

Enter the first set of strings separated by spaces: a b c d e
Enter the second set of strings separated by spaces: b f g
Set1:  {'a', 'c', 'd', 'e', 'b'}
Set2:  {'f', 'b', 'g'}
Elements in the first set but not in the second set: {'a', 'c', 'd', 'e'}

In [43]:
25. # Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.
def tuple_slice(t, start, end):
    return t[start:end+1]
print(tuple_slice((1, 2, 3, 4, 5), 1, 4))

(2, 3, 4, 5)

In [58]:
26. #Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

a = input("Enter the first set of characters: ")
b = input("Enter the second set of characters: ")

# Print the input sets
print("Set1:", a)
print("Set2:", b)

# Create sets from the input strings
set1 = set(a)
set2 = set(b)

# Print the union of the two sets
print("Union of the two sets:", set1.union(set2))

Enter the first set of characters: abcde
Enter the second set of characters: cdefg
Set1: abcde
Set2: cdefg
Union of the two sets: {'a', 'c', 'd', 'e', 'f', 'b', 'g'}

In [62]:
27. # Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.
def max_min_tuple(t):
    return max(t), min(t)
print(max_min_tuple((1, 2, 3, 4, 5)))

(5, 1)

In [65]:
28. # Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.
def set_operations():
    set1 = {1, 2, 3, 4}
    set2 = {3, 4, 5, 6}
    print("Union:", set1 | set2)
    print("Intersection:", set1 & set2)
    print("Difference:", set1 - set2)
set_operations()

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

In [67]:
29. # Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.
def count_occurrences(t, elem):
    return t.count(elem)
print(count_occurrences((1, 2, 2, 3, 4), 2))

2

In [73]:
30. # Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.
def symmetric_difference_of_sets():
    set1 = set(input("Enter the first set of strings separated by spaces: ").split())
    set2 = set(input("Enter the second set of strings separated by spaces: ").split())
    c=set1.symmetric_difference(set2)
    print("Symmetric difference of the two sets:", c)
symmetric_difference_of_sets()

Enter the first set of strings separated by spaces: apple banana
Enter the second set of strings separated by spaces: google microsoft
Symmetric difference of the two sets: {'microsoft', 'banana', 'google', 'apple'}

In [74]:
31. # Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.
def word_frequencies(words):
    freq_dict = {}
    for word in words:
        if word in freq_dict:
            freq_dict[word] += 1
        else:
            freq_dict[word] = 1
    return freq_dict
print(word_frequencies(["apple", "banana", "apple", "orange", "banana", "apple"]))

{'apple': 3, 'banana': 2, 'orange': 1}

In [75]:
32. # Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value
    return merged_dict
print(merge_dictionaries({'a': 1, 'b': 2}, {'b': 3, 'c': 4}))

{'a': 1, 'b': 5, 'c': 4}

In [77]:
33. # Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.
def access_nested_dict(d, keys):
    for key in keys:
        if isinstance(d, dict) and key in d:
            d = d[key]
        else:
            return None
    return d
nested_dict = {'a': {'b': {'c': 42}}}
print(access_nested_dict(nested_dict, ['a', 'b', 'c']))

42
None

In [79]:
34. # Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.
def sort_dict_by_values(d, ascending=True):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=not ascending))
print(sort_dict_by_values({'a': 3, 'b': 1, 'c': 2}, ascending=True))

{'b': 1, 'c': 2, 'a': 3}

In [80]:
35. # Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.
def invert_dict(d):
    inverted_dict = {}
    for key, value in d.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]
    return inverted_dict
print(invert_dict({'a': 1, 'b': 2, 'c': 1}))

{1: ['a', 'c'], 2: ['b']}